/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@config "../tailwind.config.ts";

html, body{
  scroll-behavior: smooth !important;
}

.custom-scrollbar{
  scroll-behavior: smooth !important;
}

