/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --color-pumpkin-spice: #FF6700;
  --color-platinum: #EBEBEB;
  --color-silver: #C0C0C0;
  --color-rich-cerulean: #3A6EA5;
  --color-steel-azure: #004E98;
}