/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@config "../tailwind.config.ts";
@import 'leaflet/dist/leaflet.css';
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

html,
body {
  scroll-behavior: smooth !important;
  font-family: 'Area Normal', sans-serif;
}

.custom-scrollbar {
  scroll-behavior: smooth !important;
}
